html
	height 100%
	overflow hidden

body
	margin 0
	height 100%
	overflow auto
	background-color #000

#canvas
	display block
	position absolute
	top 0
	left 0

// Tweakpane

:root
	--tp-base-background-color rgba(47, 49, 55, 0.8)

.tp-rotv
	font-size 12px !important
.tp-dfwv
	top 1rem !important
	right 1rem !important
	width auto !important
.tp-lblv_v
	width 200px !important

@media (max-width: 414px)
	.tp-dfwv
		display none
